mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="User's profile picture")
        .textareaContainer
            textarea#postTextarea(type="text", placeholder="What's happening?", onkeyup='enableButton()')
            .buttonContainer
                button#submitPostButton(disabled="") Post