include ../mixins/mixins

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}

        link(rel="stylesheet", href="/css/main.css", type='text/css')
body
    .wrapper
        .row
            nav
                a.blue(href="/")
                    i.fas.fa-dove
                a(href="/home")
                    i.fas.fa-home
                a(href="/search")
                    i.fas.fa-search
                a(href="/notifications")
                    i.fas.fa-bell
                a(href="/messages")
                    i.fas.fa-envelope
                a(href="/profile")
                    i.fas.fa-user
                a(href="/logout")
                    i.fas.fa-sign-out-alt
            .titleContainer
                    h1 #{pageTitle}
            .mainSectionContainer
                block content
            .d-none
                span third column

    script(src="https://kit.fontawesome.com/bc63f64439.js" crossorigin="anonymous")